version: '3'
services:
  lrndev:
    build: ./docker-files
    volumes:
      - ./docker-files:/home/node/html
      - ./docker-files/Dockerfile:/home/node/html/Dockerfile:ro
    ports:
      - '8081:8081'